
.result {
    margin-top: 25px;

    &--name {
        padding: 5px;
        color: var(--color-text);
        font-size: 24px;
    }

    &--message {
        padding: 5px;
        background-color: var(--color-search);
        border-bottom: 1px solid var(--color-text) !important;
    }
}