:root { 
    --color-background--light: #FEFEFE;
    --color-background--light-blue: #007AC2;
    --color-text: #001A58;
    --color-text--attention: #E41D37;
    --color-search: #D9D9D9;
    --color-background--attention: rgba(228, 29, 55, 0.3);
    --color-background--graphic: rgba(140, 182, 227, 0.17);
    --color-background--note: rgba(0, 122, 194, 0.4);
}